<div class="sidebar background-black">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p class="lead">{{ site.subtitle }}</p>
      {% assign cities = site.data.locations['cities'] %}
      <p>Serving {{ cities | join: ', ' }}.</p>
    </div>

    <nav class="sidebar-nav hide-mobile">
      {% for post in site.fb %}<a
        class="sidebar-nav-item{% if page.url == post.url %} active{% endif %}"
        href="{{ post.url }}"
        >{{ post.title }}</a
      >{% endfor %} {% for feature in site.features %} {% if feature.published
      == true %}<a
        class="sidebar-nav-item{% if page.url == feature.url %} active{% endif %}"
        href="{{ feature.url  }}"
        >{{ feature.title }}</a
      >{% endif %} {% endfor %}
    </nav>

    <div class="hide-mobile">
      <hr />
      {% include social.html %}
    </div>
  </div>
</div>
